/* reset */
$min-width: 320px; 
$max-width: 1240px; 
$base-bg: #FFF; 
$base-font-size: 18px; 
$base-line-height: 25px; 
$base-font-family: 'Circe', sans-serif; 
$custom-font-family: 'Circe', sans-serif; 
$link-color: #100da9;
$default-transition: all 0.2s linear;

/* main variables */

//text, titles
$text-color: #383838;
$title-color: #383838;
$title-font-family: $custom-font-family;

$font-size-h1: 96px;
$line-height-h1: 98px;
$font-size-h2: 48px;
$line-height-h2: 54px;
$font-size-h3: 36px;
$line-height-h3: 48px;