.about-screen {
    padding-top: 300px;
    padding-bottom: 198px;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        z-index: 2;
        left: 0;
        top: 15%;
        width: 70%;
        width: 86%;
        height: 100%;
        background-image: url(../img/about-screen-bg.svg);
        background-repeat: no-repeat;
        background-position: left top;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
        display: block;
    }
    &__content {
        padding-bottom: 232px;
        &:after {
            clear: both;
            display: block;
            height: 0;
            content: '';
        }
        h3 {
            font-size: 36px;
            line-height: 120%;
            letter-spacing: 0.02em;
            padding-bottom: 10px;
        }
    }
    &__info {
        max-width: 580px;
        margin-top: 25px;
        float: right;
        p{
            position: relative;
            z-index: 999;
        }
    }
    &__quote {
        position: relative;
        &-bg {
            position: absolute;
            top: -108px;
            left: -59px;
            z-index: -1;
        }
        .quote-text {
            font-weight: 800;
            font-size: 36px;
            line-height: 120%;
            letter-spacing: 0.02em;
            color: #383838;
            max-width: 1080px;
            padding-left: 100px;
        }
        .quote-author {
            display: flex;
            justify-content: space-between;
            margin-top: 30px;
            max-width: 450px;
            margin-left: auto;
            margin-right: 31px;
            &__img {
                border-right: 8px solid #F39A7C;
                margin-right: 44px;
                height: 130px;
                img {
                    height: 100%;
                }
            }
            &__info {
                span {
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 140%;
                    color: #383838;
                    display: block;
                    margin-bottom: 0;
                }
                p {
                    font-size: 18px;
                    padding-top: 12px;
                    line-height: 140%;
                    color: #383838;
                }
            }
        }
    }
}

.about-program {
    margin-bottom: 75px;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        z-index: 2;
        right: 0;
        top: -140px;
        width: 44%;
        width: 37%;
        height: 990px;
        
        background-repeat: no-repeat;
        background-position: right bottom;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
        display: block;
    }
    &__content {
        max-width: 600px;
        p {
            margin-top: 28px;
            font-size: 24px;
            line-height: 34px;
        }
    }
}

.about-page {
    .about-program {
        &:after {
            background-image: url(../img/about-program-bg.svg);
        }
    }
    .about-us {
        padding-bottom: 46px;
        padding-top: 106px;
        h2 {
            margin-bottom: 42px;
        }
        &__subtitle {
            display: block;
            font-weight: 800;
            font-size: 24px;
            line-height: 140%;
            color: #383838;
        }
        &-list {
            flex-wrap: wrap;
            margin-top: 105px;
            &__item {
                margin-bottom: 92px;
                p {
                    max-width: 280px;
                    min-height: 104px;
                }
            }
            &__icon {
                margin-bottom: 4px;
            }
        }
    }
}

.about-partners {
    background-color: #669F42;
    padding: 135px 0;
    padding-bottom: 70px;
    &__list {
        margin-top: 60px;
        margin-bottom: 65px;
        display: flex;
        justify-content: flex-start;
        margin-left: -55px;
        margin-right: -55px;
        align-items: center;
        flex-wrap: wrap;
        img {
            display: block;
            margin: 0 55px;
            align-self: center;
            margin-bottom: 70px;
        }
    }
    &__block {
        &:last-of-type {
            .about-partners__list {
                margin-bottom: 0;
                margin-top: 33px;
            }
        }
        &:first-of-type {
            .about-partners__list {
                a:last-of-type {
                    margin-top: -20px;
                }
            }
        }
    }
}

@media screen and (max-width: 1700px) {
    .about-screen:after {
        width: 100%;
        left: 0%;
        top: 20%;
    }
}

@media screen and (max-width: 1400px) {
    .about-program:after {
        width: 44%;
    }
    .about-screen:after {
        width: 100%;
        left: -3%;
        top: 23%;
    }
    .about-screen__content {
        z-index: 99;
        position: relative;
    }
}




@media screen and (max-width: 1200px) {
    .about-screen {
        padding-top: 200px;
        padding-bottom: 110px;
    }  
    .about-screen:after {
        top: 25%;
    }
}

@media screen and (max-width: 930px) {
    
    .about-screen:after {
        width: 100%;
        left: -20%;
        top: 26%;
    }
    .about-program:after {
        width: 195px;
        top: 0;
        height: 70%;
    }
    .about-screen__quote {
        background-color: #D0E09B;
        padding: 40px 25px;
        &-bg {
            display: none;
        }
        .quote-text {
            padding-left: 0;
        }
    }
    .about-screen__content {
        padding-bottom: 55px;
    }
    .about-screen {
        padding-bottom: 70px;
    }
    .about-page .about-us {
        padding-top: 0;
        padding-bottom: 0;
    }
    .about-program {
        margin-bottom: 40px;
    }
    .about-page .about-us-list {
        margin-top: 70px;
    }
    .about-page .about-us-list__item {
        margin-bottom: 40px;
    }
    .about-partners {
        padding-top: 55px;
        padding-bottom: 0;
    }
    .about-partners__list {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 767px) {
    .about-program:after,
    .about-screen:after {
        display: none;
    }
    .about-screen {
        padding-top: 125px;
        padding-bottom: 30px;
        h1, .h1 {
            font-size: 44px;
            line-height: 48px;
        }
    }
    .about-screen__content h3 {
        font-size: 24px;
        line-height: 32px;
    }
    .about-screen__info {
        margin-top: 0;
    }
    .about-screen__content {
        padding-bottom: 30px;
    }
    .about-screen__quote .quote-text {
        font-size: 18px;
    }
    .about-screen__quote {
        padding: 30px 15px;
    }
    .about-screen__quote .quote-author__img {
        margin-right: 15px;
    }
    .about-screen__quote .quote-author__info p {
        font-size: 16px;
        padding-top: 10px;
        line-height: 120%;
    }
    .about-screen__quote .quote-author__info span {
        line-height: 28px;
    }
    .about-program__content p {
        margin-top: 0;
        font-size: 20px;
        line-height: 27px;
    }
    .about-program {
        margin-bottom: 15px;
    }
    .about-page .about-us__subtitle {
        font-size: 20px;
        line-height: 120%;
    }
    .about-page .about-us h2 {
        margin-bottom: 15px;
    }
    .about-page .about-us-list {
        margin-top: 50px;
    }
    .about-page .about-us-list__item {
        margin-bottom: 38px;
    }
    .about-page .about-us-list__item p {
        min-height: auto;
        max-width: 100%;
    }
    .about-page h2 {
        font-size: 27px;
    }
    .about-partners {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .about-partners__list img {
        margin-bottom: 30px;
    }
    .about-partners__list {
        margin-top: 30px;
    }
    .about-partners__list {
        justify-content: space-around;
    }
    .about-screen__quote .quote-author {
        margin-right: 0;
    }
    .about-partners__block:first-of-type .about-partners__list a:last-of-type {
        margin-top: 0;
    }
}