.accreditation-screen {
    padding-top: 300px;
    padding-bottom: 210px;
    &__content {
        max-width: 880px;
    }
    &__subtitle {
        font-size: 24px;
        line-height: 140%;
        color: #669F42;
        display: block;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    &__text {
        p {
            font-size: 18px;
            line-height: 140%;
            color: #383838;
            padding: 12px 0 12px 0;
            a {
                display: inline-block;
                font-size: 18px;
                line-height: 20px;
                color: #383838;
                border-bottom: 2px solid #669F42;
                &:hover {
                    color: #669F42;
                }
            }
        }
    }
    &__request {
        margin-top: 43px;
        h3 {
            margin-bottom: 5px;
            letter-spacing: .7px;
        }
        ul {
            li {
                font-size: 18px;
                line-height: 140%;
                position: relative;
                padding-left: 25px;
                margin-bottom: 44px;
                &:last-of-type {
                    margin-bottom: 20px;
                }
                span {
                    position: absolute;
                    left: 0;
                    top: 0;
                    color: #669F42;
                }
                ul.sub-list {
                    margin-top: 15px;
                    li {
                        padding-left: 36px;
                        margin-bottom: 15px;
                        &:before {
                            content: '';
                            left: 0;
                            top: 10px;
                            width: 20px;
                            height: 4px;
                            background: #669F42;
                            position: absolute;
                        }
                        ul {
                            margin-bottom: 20px;
                            li {
                                padding-left: 0;
                                margin-bottom: 0px;
                                &:before {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &__contacts {
        margin-top: 58px;
        border-top: 8px solid #F39A7C;
        padding-top: 52px;
        display: flex;
        justify-content: space-between;
    }
    &__info {
        max-width: 500px;
        width: 50%;
        margin-top: 18px;
        &-icon {
            font-size: 43px;
        }
        ul {
            li {
                margin-top: 39px;
                font-size: 18px;
                line-height: 140%;
                color: #383838;
                a {
                    display: inline-block;
                    font-size: 18px;
                    line-height: 24px;
                    color: #383838;
                    border-bottom: 2px solid #669F42;
                    &:hover {
                        color: #669F42;
                    }
                }
            }
        }
    }
    &__form {
        max-width: 580px;
        width: 50%;
        h3 {
            margin-bottom: 26px;
        }
        .box-field_btn {
            margin-top: 71px;
        }
        button.btn-green:before {
            width: 54px;
            height: 42px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .accreditation-screen {
        padding-top: 200px;
        padding-bottom: 110px;
    }
    .accreditation-screen__form {
        max-width: 465px;
    }
    .accreditation-screen__info {
        max-width: 450px;
    }    
}

@media screen and (max-width: 930px) {
    .accreditation-screen__contacts {
        flex-direction: column;
    }
    .accreditation-screen__form,
    .accreditation-screen__info {
        max-width: 100%;
        width: 100%;
    }
    .accreditation-screen__info ul li {
        margin-top: 20px;
    }
    .accreditation-screen__form {
        margin-top: 40px;
    }
}

@media screen and (max-width: 767px) {
    .accreditation-screen {
        padding-top: 125px;
        padding-bottom: 50px;
        h1, .h1 {
            font-size: 44px;
            line-height: 48px;
        }
    }
    .accreditation-screen__form {
        margin-top: 20px;
    }

    .accreditation-screen__form .box-field_btn {
        margin-top: 42px;
    }
    .accreditation-screen__subtitle {
        margin-top: 20px;
    }
    .accreditation-screen__request {
        margin-top: 5px;
    }
    .accreditation-screen__contacts {
        margin-top: 20px;
        padding-top: 20px;
    }
    .accreditation-screen__form h3 {
        margin-bottom: 10px;
    }
}