
//main styles

.main-wrapper{
	padding: 0 0 0 0;
	min-width: $min-width;
    width: 100%;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction:column;
    -webkit-flex-direction:column;
    -ms-flex-direction: column;
	justify-content:flex-start;	
    -webkit-justify-content:flex-start;	
	-ms-flex-pack: start;
	margin-top: 100%;
	transition: .5s ease;
	opacity: 0;
	&.active {
		margin-top: 0;
		opacity: 1;
	}
	&.program-page {
		margin-top: 0;
	}
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 30px 0 30px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p{	
	@include font($base-font-size,$base-line-height,$text-color);
	padding: 15px 0 15px 0;
	font-weight: 400;	
}
h1, .h1{	
	@include font($font-size-h1,$line-height-h1,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 800;	
}
h2, .h2{
	@include font($font-size-h2,$line-height-h2,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 800;	
	text-transform: uppercase;
}
h3{
	@include font($font-size-h3,$line-height-h3,$title-color);
	font-family: $title-font-family;
	padding: 15px 0 15px 0;
	font-weight: 800;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}



ul{
	list-style: none;
}
/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{	
	min-width: $min-width;
	text-align:left;
    width: 100%;
	order: 2;
    -webkit-order: 2;
	flex-grow: 1;
    -webkit-flex-grow: 1;
}

.main-video-wrap {
	display: none;
}

// .main-slider {
// 	display: none;
// }

.main-video-wrap {
	padding-bottom: 68px;
	padding-top: 65px;
}

path {
	transition: .3s ease-in;
}

.main-slider-wrap {
	min-width: 320px;
    max-width: 1240px;
    padding-left: 30px;
    margin: 0 auto;
    position: relative;
}

.main-slider__item {
	position: relative;
	// padding-bottom: 90px;
	padding-top: 233px;
	padding-bottom: 100px;
	height: 101vh;
	// min-height: 100vh;
	max-height: 1250px;
	svg, .main-slider__svg {
		position: absolute;
		z-index: 2;
		right: -9%;
		bottom: -3%;
		width: auto;
		display: block;
	}
	// &.inactive {
	// 	opacity: 0!important;
	// 	height: 0!important;
	// 	visibility: hidden!important;
	// 	padding: 0!important;
	// 	min-height: 0!important;
	// 	transition: .5s linear;
	// }
}

.main-slider__svg-mob {
	display: none;
}

.main-slider__item .main-slider__svg {
	width: 100%;
	height: 100%;
	.slide-man {
		position: absolute;
		right: 1.5%;
    	bottom: 11%;
		width: auto;
		
		img {
			width: 100%;
			z-index: 9;
			position: relative;
			margin-bottom: 8px;
		}
		
	}
	.slide-man {
		
		&:after {
			position: absolute;
			left: -50vw;
			bottom: 0;
			content: '';
			width: 1000vw;
			height: 8px;
			background: #D0E09B;
		}
	}
	.slide-piece1 {
		position: absolute;
		right: 0%;
		bottom: 9%;
		width: auto;
		z-index: 99;
	}
	.slide-piece2 {
		position: absolute;
		right: 44%;
		bottom: 9%;
		width: auto;
		z-index: 1;
	}
	.slide-piece3 {
		position: absolute;
		right: 0%;
		top: auto;
		bottom: 44.5%;
		width: auto;
		z-index: 1;
	}
}
.main-slider{
	padding-top: 65px;
	padding-bottom: 68px;
	&__cont{
		// max-width: 820px;
		max-width: 100%;
		z-index: 99;
		position: relative;
	}
	&__place{
		font-weight: 800;
		font-size: 24px;
		line-height: 36px;
		color: #383838;
		margin-top: 14px;
		margin-bottom: 17px;
	}
	.slick-arrow{
		position: absolute;
		left: 0;
		top: 233px;
		background-color: transparent;
		padding: 0;
		border: none;
		font-size: 44px;
		color: #95C13D;
		transition: all 0.3s;
		z-index: 99;
		&:hover{
			color: #D0E09B;
		}
	}
	.slick-next{
		left: 80px;
	}
}

.event-inf{
	margin-bottom: 27px;
	li{
		font-weight: normal;
		font-size: 24px;
		line-height: 35px;
		color: #383838;
		position: relative;
		padding-left: 36px;
		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 7px;
			width: 16px;
			height: 15px;
			background: #95C13D;
			transform: skewY(5deg);
		}
	}
}
.social-list{
	display: flex;
	align-items: center;
	&__item{
		margin-right: 23px;
		&:last-child{
			margin-right: 0;
		}
	}
	&__link{
		color: #669F42;
		display: block;
		i{
			font-size: 30px;
		}
		.icon-vk{
			font-size: 22px;
		}
		.icon-facebook{
			font-size: 32px;
		}
		&:hover{
			color: #D0E09B;
		}
		&:active {
			color: #95C13D;
		}
	}
}

.main-slider__theme {
	margin-top: 3px;
	h3 {
		letter-spacing: 0.02em;
		line-height: 120%;
		margin-bottom: 50px;
		max-width: 799px;
	}
	.btn {
		max-width: 231px;
	}
	.program-item__place {
		margin-top: 10px;
		margin-bottom: 40px;
	}
	.event-inf {
		margin-bottom: 0;
	}
}

.main-slider__speaker {
	max-width: 100%;
	padding-bottom: 10px;
	padding-top: 25px;
	margin-top: -100px;
	&-content {
		display: flex;
		justify-content: space-between;
	}
	&-img {
		position: absolute;
		bottom: -11%;
		right: -10%;
		width: 80%;
		// max-height: 475px;
		// width: 380.08px;
		img {
            position: relative;
			z-index: 2;
			width: 100%;
		}
	}
	&-name {
		font-weight: 800;
		font-size: 72px;
		line-height: 100%;
		display: block;
		color: #383838;
		margin-top: -5px;
	}
	&-subname {
		font-weight: 800;
		font-size: 24px;
		line-height: 140%;
		display: block;
		margin: 16px 0;
		margin-bottom: 0px;
	}
	p {
		font-size: 24px;
		line-height: 140%;
	}
	&-info {
		max-width: 600px;
		// margin-top: 59px;
		margin-top: 80px;
		.btn {
			max-width: 231px;
		}
	}
	.event-inf {
		margin-top: 40px;
		margin-bottom: -11px;
	}
	.program-item__place {
		margin-bottom: 40px;
	}
	&-btns {
		max-width: 470px;
		display: flex;
		justify-content: space-between;
	}
}

.main-screen {
	.slick-list {
		overflow: visible;
	}
}


.about-us{
	padding-bottom: 124px;
	padding-top: 115px;
	h2{
		margin-bottom: 28px;
	}
	&__desc{
		max-width: 600px;
		font-size: 24px;
		line-height: 34px;
		color: #383838;
		margin-bottom: 66px;
		span {
			font-weight: 600;
		}
	}
	&__title {
		font-weight: 800;
		font-size: 36px;
		line-height: 120%;
		letter-spacing: 0.02em;
		color: #383838;
		margin-bottom: 30px;
	}
	&__whom {
		max-width: 675px;
		margin-bottom: 80px;
		li {
			padding-left: 36px;
			margin-bottom: 15px;
			position: relative;
			font-size: 18px;
			line-height: 140%;
			color: #383838;
			&:before {
				content: '';
				left: 0;
				top: 10px;
				width: 20px;
				height: 4px;
				background: #669F42;
				position: absolute;
			}
		}
	}
}

.about-us-list{
	display: flex;
	margin: 0 20px 0 -40px;
	&__item{
		padding: 0 40px;
		width: 33.3%;
		strong{
			display: block;
			font-weight: 800;
		}
	}
	&__icon{
		width: 80px;
		height: 81px;
		background-image: url('../img/about-us-sq.svg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 100% 100%;
		color: #669F42;
		font-size: 67px;
		margin-bottom: 16px;
		text-align: center;
		
		i{
			position: relative;
			top: -5px;
			content: '';
			display: block;
		}
	}
}
.title-with-line{
	position: relative;
	display: inline-block;
	z-index: 1;
	&:before{
		content: '';
		display: block;
		position: absolute;
		bottom: 15px;
		left: -10px;
		background-color: #F39A7C;
		width: calc(100% + 20px);
		height: 30px;
		z-index: -1;
	}
}

.big-btn{
	font-weight: 800;
	font-size: 96px;
	line-height: 96px;
	text-transform: uppercase;
	color: #FFFFFF;
	display: block;
	background-color: #95C13D;
	white-space: nowrap;
	padding: 98px 0 104px;
	.wrapper{
		display: flex;
		align-items: center;
	}
	.icon-arrow-right{
		font-size: 69px;
		display: inline-block;
		margin: 0 44px;
		top: -7px;
		position: relative;
		&+span{
			color: #669F42;
			position: relative;
		}
	}
	&__over {
		position: absolute;
		left: 0;
		color: #fff;
		overflow: hidden;
		width: 0;
		transition: width .5s ease-in-out;
		white-space: nowrap;
	}
	&:hover {
		.big-btn__over {
			width: 100%;
		}
	}
}
.speakers{
	border-top: 8px solid #F39A7C;
	border-bottom: 8px solid #F39A7C;
	padding: 137px 0 145px;
	h2{
		margin-bottom: 76px;
	}
	.scroll{
		overflow: visible!important;
	}
}
.scrollbar{
	background-color: #D0E09B;
	height: 2px;
	border-radius: 2px;
	.mousearea{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
.scrollbar .handle{
	background-color: #95C13D;
	height: 8px;
	border-radius: 0;
	top: -3px;
	position: relative;
}
.speakers-list{
	display: flex;
	margin:  0 -60px;
	padding-bottom: 48px;
	&__item{
		padding:  0 60px;
		min-width: 460px;
		p{
			font-size: 18px;
			line-height: 25px;
			max-width: 280px;
			letter-spacing: 0.05px;
		}
	}
	&__img{
		position: relative;
		max-width: 280px;
		margin-bottom: 48px;
		display: block;
		img{
			display: block;
			max-width: 100%;
			position: relative;
			z-index: 2;
		}
	}
	&__img-bg{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		transition: .2s ease;
		
		&_1{
			background-color: #669F42;
			transform: rotate(-7deg);
		}
		&_2{
			background-color: #F39A7C;
			transform: rotate(4.1deg);
		}
		&_3{
			background-color: #669F42;
			transform: rotate(-7deg);
			left: -20px;
		}
		&_4{
			background-color: #F39A7C;
			transform: rotate(4.1deg);
			left: auto;
			top: -27px;
			right: -22px;
		}
	}
	&__name{
		font-weight: 800;
		font-size: 36px;
		line-height: 46px;
		letter-spacing: 0.02em;
		color: #383838;
		&:hover{
			color: #669F42;
		}
	}
	&__img {
		&:active {
			.speakers-list__img-bg_1,
			.speakers-list__img-bg_2 {
				transform: none;
			}
		}
		&:hover, &.hover {
			.speakers-list__img-bg_1 {
				transform: rotate(-7deg);
				left: -20px;
			}
			.speakers-list__img-bg_2 {
				transform: rotate(4.1deg);
				left: auto;
				top: -27px;
				right: -22px;
			}
		}
		&:hover + .speakers-list__name {
			color: #669F42;
		}
	}
	&__all {
		
		&-link {
			background: #669F42;
			color: #ffffff;
			display: block;
			width: 100%;
			height: 100%;
			font-weight: 800;
			font-size: 36px;
			line-height: 120%;
			letter-spacing: 0.02em;
			max-width: 280px;
			margin-bottom: 48px;
			position: absolute;
			left: 0;
			top: 0;
			padding: 31% 42px;
			i {
				display: block;
				margin-top: 20px;
				font-size: 30px;
				transition: .3s ease-in;
			}
			
		}
		.speakers-list__img {
			img {
				opacity: 0;
			}
			
		}
		&:hover {
			i {
				margin-left: 10px;
			}
		}
	}
}

.exposition-inf{
	padding: 136px 0 00px;
	position: relative;
	&__desc{
		max-width: 600px;
		font-size: 24px;
		line-height: 34px;
	}
	&__title-row{
		position: relative;
		.btn{
			top: 8px;
			position: absolute;
			right: 0;
			top: 7px;
		}

		h2{
			margin-bottom: 28px;
		}

		li {
			padding-left: 36px;
			margin-bottom: 13px;
			position: relative;
			font-size: 18px;
			line-height: 140%;
			color: #383838;
			&:before {
				content: '';
				left: 0;
				top: 10px;
				width: 20px;
				height: 4px;
				background: #669F42;
				position: absolute;
			}
		}
	}
	&__subtitle {
		display: block;
		font-weight: 800;
		font-size: 24px;
		line-height: 140%;
		color: #383838;
		margin-top: 16px;
		margin-bottom: 30px;
		max-width: 680px;
	}
	
}
.exposition-img-fluid{
	padding-top: 91px;
	padding-bottom: 60px;
	position: relative;
	overflow: hidden;
	&:before{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 171px;
		width: 100%;
		background: #D0E09B;
		height: 100%;
	}
}
.exposition-img{
	margin: 0px -10px 0;
	padding-bottom: 38px;
	&__item{
		padding: 0 10px;
		img{
			display: block;
			max-width: 100%;
			object-fit: cover;
			min-height: 170px;
		}
	}
	.slick-list{
		overflow: visible;
	}
	.slick-arrow{
		position: absolute;
		left: 10px;
		bottom: -42px;
		background-color: transparent;
		padding: 0;
		border: none;
		font-size: 44px;
		color: #95C13D;
		transition: all 0.3s;
		&:hover{
			color: #669F42;
		}
	}
	.slick-next{
		left: 90px;
	}
}

.exposition-name{
	text-align: right;
	font-size: 18px;
	line-height: 25px;
	color: #383838;
}

.faq{
	padding: 115px 0 80px ;
	h2{
		margin-bottom: 61px;
	}
}
.box-faq{
	position: relative;
	.btn{
		position: absolute;
		right: 10px;
		top: 8px;
	}
}
.list-faq{
	&__item{
		border-bottom: 2px solid #669F42;
		&:first-child{
			border-top: 2px solid #669F42;
		}
		&.active{
			.list-faq__link{
				color: #669F42;
			}
			.list-faq__link i{
				transform: rotate(90deg);
			}
		}
	}
	&__link{
		display: block;
		position: relative;
		font-weight: 800;
		font-size: 36px;
		line-height: 53px;
		letter-spacing: 0.02em;
		color: #383838;
		padding: 29px 70px 29px 0;
		i{
			color: #95C13D;
			position: absolute;
			right: 20px;
			top: 50%;
			margin-top: -21px;
			font-size: 45px;
			transition: all 0.3s;
		}
		&:hover{
			color: #95C13D;
		}
	}
	&__answer{
		display: none;
		padding-bottom: 34px;
		top: -18px;
		position: relative;
		p{
			font-weight: normal;
			font-size: 24px;
			line-height: 34px;
			color: #383838;
			padding: 0px 0;
			max-width: 980px;
		}
	}
}

.contacts{
	padding: 254px 0 150px;
	background-image: url('../img/contact-bg.svg');
	background-position: top right;
	background-repeat: no-repeat;
	background-size: 100% auto;
	h2{
		margin-bottom: 44px;
	}
	address{
		font-size: 24px;
		line-height: 34px;
		color: #383838;
		font-style: normal;
		font-weight: normal;
		margin-bottom: 18px;
	}
}
.contacts-row{
	display: flex;
	align-items: flex-start;
	margin:  0 -15px;
}
.contacts-col{
	padding: 0 15px;
	width: 50%;
	&_1{
		width: 41.5%;
	}
	&_2{
		width: 58.5%;
	}
	h3{
		margin-bottom: 24px;
	}
}
.phone-list{
	margin-top: 49px;
	margin-bottom: 34px;
	a{
		font-size: 24px;
		line-height: 34px;
		color: #383838;
		&:hover{
			color: #669F42;
		}
	}
}
.mail-link{
	font-size: 24px;
	line-height: 34px;
	color: #383838;
	position: relative;
	&:before{
		content: '';
		display: block;
		height: 2px;
		width: 100%;
		background-color: #669F42;
		border-radius: 2px;
		position: absolute;
		bottom: 0;
		left: 0;
	}
	&:hover{
		color: #669F42;
	}
}

.box-field{
	position: relative;
	margin-bottom: 50px;
	&__label{
		position: absolute;
		left: 0;
		bottom: 8px;
		font-size: 24px;
		line-height: 28px;
		color: #383838;
		transition: all 0.3s;
	}
	&.focused-field{
		.box-field__label{
			bottom: 100%;
			display: none;
		}
	}
}
.form-control{
	width: 100%;
	font-size: 24px;
	line-height: 34px;
	color: #383838;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #669F42;
	&.error {
		border-bottom: 2px solid #E60028;
	}
}
textarea.form-control{
	resize: none;
	min-height: 91px;
}
button.btn-green{
	border: none;
	padding: 0;
	margin: 0;
	font-family: 'Circe', sans-serif;
	&:before{
		// width: 40px;
		// height: 30px;
	}
}
.box-field_btn{
	display: flex;
	justify-content: flex-end;
	margin-top: 64px;
	padding-right: 12px;
}
@keyframes spin {
	100% { transform:rotate(360deg); }
} 
.custom-cursor {
    position: fixed;
    opacity: 0;
    pointer-events: none;
   
    border-radius: 50%;
    transition: transform 350ms ease;
    z-index: 10000;
    &__text{
    	width: 146px;
    	height: 146px;
    	transition: all 0.3s;
    	animation: spin 14s linear infinite;
    	position: absolute;
    	left: 50%;
    	top: 50%;
    	margin-left: -78px;
    	margin-top: -76px;
    }
    svg{    	
    	width: 50px;
    	height: 50px;
    }
}

.popup{
   position:absolute;
   left:-9999px;top:-9999px;
   opacity:0;
}
.window-open{
   width:1188px;max-width:100%;
   background:#FFF;
   position:relative;
   border: 10px solid #F39A7C;
   padding:140px 50px 132px;
}

.popup-speaker{
	display: flex;
	align-items: flex-start;
	padding: 42px 43px 74px 97px;
	&__img{
		width: 30.2%;
		max-width: 100%;
		img{
			width: 100%;
		}
	}
	&__text{
		width: 76.8%;
		padding-left: 100px;
		padding-top: 24px;
		p{
			// max-width: 400px;
		}
	}
}
.popup-close{
	display: block;
	position: absolute;
	right: 52px;
	top: 52px;
	width: 50px;
	height: 50px;
	transform: rotate(45deg);
	span{
		display: block;
	    width: 100%;
	    background-color: #95C13D;
	    height: 8px;
	    display: block;
	    transition: all 0.3s;
		&:first-child{
		    position: absolute;
		    left: 0;
		    top: 50%;
		    margin-top: -4px;
		}
		&:nth-child(2){
			height: 100%;
			width: 8px;
			position: absolute;
			left: 50%;
			margin-left: -4px;
			top: 0;
		}
	}
	&:hover{
		span{
			background-color: #669F42;
		}
	}
}

.fancybox-close{
	right: 0;
	top: 0;
}

.popup-event{
	&__item{
		border-bottom: 8px solid #F39A7C;
		padding: 30px 0 28px;
		&:first-child{
			border-top: 8px solid #F39A7C;
		}
		.program-item__title{
			font-size: 24px;
			line-height: 34px;
			letter-spacing: 0;
			max-width: 622px;
			padding-right: 10px;
		}
		.program-item__text{
			display: flex;
			align-items: flex-start;
			padding-right: 12px;
			flex:1;
			justify-content: space-between;
		}
		.program-item__time{
			width: 21%;
		}
		.program-item__place{
			margin-bottom: 0;
		}
		.btn-green:before{
			z-index: 1;
		}
	}
}

.popup-speaker__main {
	.speakers-list__themes {
		margin-top: 33px;
		border-bottom: 2px solid #669F42;
		&:last-of-type {
			border: none;
		}
		span {
			font-weight: 800;
			font-size: 18px;
			line-height: 27px;
			letter-spacing: 0.02em;
			color: #669F42;
			display: block;
			margin-top: 30px;
			margin-bottom: 10px;
		}
		.event-inf li {
			font-size: 18px;
			line-height: 140%;
			color: #383838;
			padding-left: 25px;
			margin-bottom: 13px;
			&:before {
				top: 3px;
			}
		}
		.event-inf {
			margin-bottom: 29px;
		}
	}
	.btn {
		max-width: 155px;
    	margin-top: 69px;
		display: block;
	}
	.btn-green:before {
		z-index: 1;
	}
}

#success-popup,
#error-popup {
	.success-popup__content,
	.error-popup__content {
		font-weight: 800;
		font-size: 36px;
		line-height: 120%;
		text-align: center;
		color: #669F42;
		max-width: 524px;
		margin: auto;
	}
	&.window-open {
		width: 779px;
		padding: 180px 30px;
	}
}

#error-popup {
	.error-popup__content {
		color: #383838;
		position: relative;
		span {
			position: relative;
			z-index: 1;
			&:before {
				content: '';
				display: block;
				position: absolute;
				bottom: 8px;
				left: -6px;
				background-color: #F39A7C;
				width: -webkit-calc(100% + 14px);
				width: calc(100% + 14px);
				height: 18px;
				z-index: -1;
			}
		}
	}
	&.window-open {
		padding: 167px 30px 155px;
	}
}

.fancybox-skin {
	padding: 0!important;
}
.fancybox-wrap {
	width: auto!important;
}

.t--overlays {
    position: fixed;
    top: 0;
    z-index: 10;
}

.t--overlays,.t--overlays i {
    left: 0;
    width: 100%;
    height: 100%;
}

.t--overlays i {
    display: block;
    position: absolute;
	top: 0;
	transition: .5s ease;
	&.active {
		transform: translateY(-100%) translateZ(0px);
		visibility: hidden;
	}
	&:nth-child(2).active {
		transform: translateY(-100%) translateZ(0px) skew(0, 2deg);
		visibility: hidden;
	}
}

.t--overlays i:first-child {
    background: #669f42;
	z-index: 1;
	transition: 1s ease;
	
}

.t--overlays i:nth-child(2) {
    background: #f39a7c;
	z-index: 2;
	transform: skew(0, 2deg);
}

.t--overlays i:nth-child(3) {
    background: #d0e09b;
	z-index: 3;
}

.test-page {
	.about-program {
		&__content {
			max-width: 100%;
		}
	}
}

/* FIXED BTN */
.fixed_btn, .open-btn-fixed {
	position: fixed;
    bottom: 16%;
    right: 8.3%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s linear;
}

.fixed_btn .top, .open-btn-fixed .top {
	position: relative;
    transition: .5s linear;
    right: -300px;
    display: flex;
    align-items: center;
    justify-content: center;
	width: 48px;
	height: 52px;
	content: '';
	overflow: hidden;
	background-image: url('../img/top-arrow.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.open-btn-fixed .top, .open-btn-fixed .phone {
	right: 0;
}

.open-btn-fixed .top:hover {
	transition: all .2s linear;
	transform: translateY(-10px);
}


.window-open {
	height: 100%;
	overflow: auto;
	width: 100%;
	
}
.fancybox-inner {
	max-width: 1188px;
	max-height: 959px;
}

.main-slider__speaker-btns {
	margin-top: 40px;
}

.main-slider__speaker .event-inf {
	margin-top: 0;
}

.main-bann {
	background: #D0E09B;
	padding-top: 17px;
	padding-bottom: 25px;
	display: block;
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__info {
		width: 50%;
		max-width: 580px;
		p {
			font-size: 16px;
			line-height: 140%;
			margin-bottom: 5px;
		}
	}
	&__steps {
		li {
			display: inline-block;
			font-weight: 800;
			font-size: 16px;
			line-height: 140%;
			letter-spacing: 0.02em;
			text-transform: uppercase;
			color: #383838;
			margin-right: 42px;
			img {
				margin-left: 15px;
				display: inline-block;
    			vertical-align: sub;
			}
		}
	}
}

.btn-stop {
	max-width: max-content;
	margin-bottom: 20px;
}
.main-slider__item {
	transition: .5s linear;
	&.active {
		margin-top: 8%;
	}
}
.main-slider__video {
	width: 100%;
	// height: 475px;
	height: 680px;
	position: relative;
	iframe {
		width: 100%;
		height: 100%;
	}
	&__overlay {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba($color: #000000, $alpha: .2);
		&-icon {
			width: 156px;
			height: 156px;
			border-radius: 50%;
			background: #95C13D;
			content: '';
			position: relative;
			display: flex;
			justify-content: center;
			text-align: center;
			img {
				margin-left: 6px;
			}
			&:active {
				background: #669F42;
			}
		}
	}
}

.main-video-wrap {
	.main-slider__item {
		padding-top: 160px;
	}
}


@media screen and (min-width: 1300px) and (max-width: 1600px){
	.main-slider__item svg, .main-slider__item .main-slider__svg {
		right: -7vw;
	}
}

@media screen and (min-width: 1500px) and (max-width: 1700px) {
	.main-slider__item svg, .main-slider__item .main-slider__svg {
		right: -11vw;
	}
}

@media screen and (min-width: 1600px){
	.main-slider__item svg, .main-slider__svg {
		right: -19vw;
	}
	.main-slider__item {
		position: relative;
		// padding-bottom: 90px;
		padding-top: 233px;
		padding-bottom: 100px;
		height: 101vh;
		// min-height: 100vh;
		max-height: 1000px;
	}
	.main-slider__item .main-slider__svg {
		.slide-man {
			position: absolute;
			right: -10vw;
			bottom: 11%;
			width: 95%;
			width: 91%;
			
		}
		.slide-piece1 {
			position: absolute;
			right: -13vw;
			bottom: 9%;
			width: auto;
			z-index: 99;
		}
		.slide-piece2 {
			position: absolute;
			right: 30%;
			bottom: 9%;
			width: auto;
			z-index: 1;
		}
		.slide-piece3 {
			position: absolute;
			right: -13vw;
			top: auto;
			bottom: 40%;
			width: auto;
			z-index: 1;
		}
	}
}


@media screen and (min-width: 1024px){
	.custom-cursor_link .custom-cursor__text{
		opacity: 0;
	}
	*{
		cursor: none;
	}
	.ios .custom-cursor{
		display: none;
	}
}


@media screen and (max-width: 1700px) {
	.speakers-list {
		&__item{
			min-width: 420px;
		}
	}
}

@media screen and (max-width: 1500px) {
	.speakers-list {
		&__item{
			min-width: 380px;
		}
	}
	.main-slider__item .main-slider__svg .slide-man {
		width: 75%;
	}
}


@media screen and (max-width: 1300px) {
	.big-btn{
		font-size: 76px;
		line-height: 76px;
	}
	h1, .h1{
		font-size: 86px;
		line-height: 88px;
	}
	.slider__cont{
		max-width: 790px;
	}
	.about-us-list{
		margin-right: -40px;
	}
	.window-open{
		padding: 80px 40px;
	}
	.popup-speaker{
		padding-right: 0;
		padding-left: 40px;
		padding-bottom: 40px;
	}
	.speakers-list {
		margin: 0 -40px;
		&__item{
			min-width: 320px;
			padding: 0 40px;
		}
	}
}

@media screen and (max-width: 1230px) {
	.main-slider__item .main-slider__svg .slide-man {
		width: 80%;
	}
}

@media screen and (max-width: 1200px) {
	.about-us-list{
		margin-right: -20px;
		margin-left: -20px;
	}
	.about-us-list__item{
		padding: 0 20px;
	}
	.main-slider__theme { 
		padding-bottom: 10px;
		margin-top: 0;
	}
	.main-slider__speaker-info {
		max-width: 500px;
	}
	.main-slider__speaker-img {
		position: absolute;
		top: -14%;
		bottom: auto;
	}
	.main-slider__video {
		width: 97%;
	}
}

@media screen and (max-width: 1130px) {
	.main-slider__item .main-slider__svg .slide-man {
		width: 93%;
	}
	.main-bann__steps li {
		display: block;
		margin: 15px 0;
	}
	.main-bann__info {
		width: 65%;
	}
}

@media screen and (max-width: 1100px) {
	.exposition-inf:before{
		height: 395px;
	}
	.list-faq__link{
		font-size: 30px;
		line-height: 45px;
	}
	h1, .h1{
		font-size: 76px;
		line-height: 76px;
	}
	.main-slider__cont{
		max-width: 695px;
	}
	.main-slider__item{
		padding-top: 206px;
	}
	.main-slider__speaker {
		max-width: 100%;
	}
	.speakers-list {
		margin: 0 -50px;
		&__item {
			min-width: 425px;
			padding: 0 50px;
		}
	}
	.main-slider .slick-arrow {
		top: 180px;
	}
	.fixed_btn, .open-btn-fixed {
		bottom: 5%;
	}
}

@media screen and (min-width: 1024px){
	
}

@media screen and (max-width: 1023px) {
	.custom-cursor{
		display: none;
	}
	.wrapper{
		padding: 0 20px;
	}
	.about-us-list{
		flex-wrap: wrap;
		&__item{
			width: 50%;
			&:last-child{
				margin-left: auto;
				margin-right: auto;
				margin-top: 50px;
			}
		}
	}
	.main-slider__item{
		padding-top: 200px;
	}
	h1, .h1{
		font-size: 60px;
		line-height: 77px;
	}
	.event-inf li{
		font-size: 20px;
		line-height: 29px;
	}
	.event-inf li:before{
		top: 4px;
	}
	.event-inf{
		margin-bottom: 18px;
	}
	h2{
		font-size: 40px;
		line-height: 45px;
	}
	.title-with-line:before{
		height: 25px;
	}
	.exposition-inf__desc,
	.about-us__desc{
		font-size: 20px;
		line-height: 28px;
	}
	.about-us{
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.big-btn{
		font-size: 70px;
		line-height: 70px;
		padding-top: 70px ;
		padding-bottom: 55px;
	}
	.big-btn .icon-arrow-right{
		font-size: 50px;
	}
	.speakers{
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.speakers-list__img{
		max-width: 220px;
	}
	.speakers-list__name{
		font-size: 28px;
		line-height: 34px;
	}
	.speakers-list{
		margin-left: -20px;
		margin-right: -20px;
		&__item{
			padding: 0 20px;
			min-width: 300px;
		}
	}
	.exposition-inf:before{
		height: 350px;
	}
	.list-faq__answer p{
		font-size: 20px;
		line-height: 28px;
	}
	.list-faq__link i{
		font-size: 35px;
		margin-top: -18px;
		right: 0;
	}
	.faq{
		padding-top: 100px;
	}
	.contacts{
		padding: 85px 0;
	}
	h3{
		font-size: 28px;
	}
	.exposition-img-fluid{
		padding-top: 60px;
	}
	.exposition-img-fluid:before{
		top: 120px;
	}
	.popup-speaker__text{
		padding-left: 40px;
		padding-top: 0;
	}
	.popup-close{
		right: 15px;
		top: 15px;
	}
	.window-open{
		padding: 60px 40px;
	}
	.popup-speaker{
		padding: 0;
		margin-bottom: 40px;
	}
	.popup-speaker__text{
		width: auto;
		flex:1;
	}
	.popup-speaker__text p{
		max-width: 100%;
	}
	.popup-event__item .program-item__text{
		flex-direction: column;
	}
	.popup-event__item{
		align-items: flex-start;
	}
	.popup-event__item .program-item__text{
		padding-right: 0;
	}
	.popup-event__item .program-item__title{
		padding-right: 0;
	}
	.popup-event__item .program-item__time{
		width: 240px;
	}
	.exposition-inf{
		padding-top: 100px;
	}

	.main-slider__speaker-info {
		max-width: 450px;
	}

	
	
}

@media screen and (max-width: 991px) {

	.main-slider__speaker-imgs {
		display: none;
	}

	.main-slider__speaker-btns {
		flex-direction: column;
	}
	.main-slider__speaker-btns a {
		margin-bottom: 25px;
	}
	
}

@media screen and (max-width: 767px) {
	.main-slider__item svg, .main-slider__svg {
		right: -9%;
		bottom: -45%;
		width: 176%;
	}
	.main-slider-wrap {
		padding-left: 16px;
	}
	
	.main-slider__svg-mob {
		display: block;
		right: -9%;
		bottom: -45%;
		width: 176%;
	}
	.wrapper{
		padding: 0 16px;
	}
	h1, .h1{
		font-size: 52px;
		line-height: 52px;
	}
	.main-slider__item{
		padding-top: 105px;
		padding-bottom: 73px;
		min-height: 645px;
	}
	
	.main-slider{
		padding-top: 19px;
		span {
			display: block;
		}
	}
	.main-slider__place{
		margin-top: 5px;
		margin-bottom: 17px;
	}
	.main-screen:before{
		display: none;
	}
	h2{
		font-size: 30px;
		line-height: 44px;
	}
	.title-with-line:before{
		height: 20px;
		bottom: 20px;
		left: -5px;
		width: calc(100% + 10px);
	}
	.title-with-line_long{
		&:before{
			display: none;
		}
		span{
			position: relative;
			display: inline-block;
			&:before{
				content: '';
				display: block;
				position: absolute;
				bottom: 4px;
				background-color: #F39A7C;
				left: -5px;
				width: calc(100% + 10px);
				height: 20px;
				z-index: -1;
			}
		}
	}
	.about-us{
		padding-top: 34px;
		padding-bottom: 52px;
	}
	.about-us h2{
		margin-bottom: 1px;
	}
	.about-us-list__item{
		width: 100%;
		margin-bottom: 38px;
	}
	.about-us__desc{
		margin-bottom: 39px;
	}
	.about-us-list__item:last-child{
		margin-top: -2px;
		margin-bottom: 0;
	}
	.big-btn{
		font-size: 36px;
		line-height: 36px;
		padding-top: 40px;
		padding-bottom: 44px;
		white-space: normal;		
		span{
			padding-right: 8px;
		}
	}
	.big-btn .wrapper{
		display: block;
	}
	.big-btn .icon-arrow-right{
		font-size: 27px;
		margin: 0;
		top: 0;
		&+span{
			display: none;
		}
	}
	.speakers{
		padding-top: 35px;
		padding-bottom: 46px;
	}
	.speakers h2{
		margin-bottom: 34px;
	}
	.speakers-list__img{
		max-width: 187px;
		margin-bottom: 30px;
		left: 12px;
	}
	.speakers-list{
		margin: 0 -5px;
		padding-bottom: 0;
	}
	.speakers-list__item{
		min-width: 255px;
		padding: 0 5px;
	}
	.speakers-list__name{
		font-size: 24px;
		line-height: 35px;
	}
	.speakers-list__item p{
		padding: 6px 0;
		max-width: 212px;
	}
	.scrollbar{
		display: none;
	}
	.speakers-list__img-bg_3 {
	    background-color: #669F42;
	    transform: rotate(-7deg);
	    left: 0;
	}
	.speakers-list__img-bg_4{
		transform: rotate(4.1deg);
		right: auto;
		left: 0;
		top: 0;
	}
	.exposition-inf{
		padding: 35px 0 0px;
	}
	.exposition-img-fluid{
		padding-bottom: 38px;
		padding-top: 0;
		&:before{
			top: 35px;
		}
	}
	.exposition-inf__title-row{
		display: block;
	}
	.exposition-img{
		margin: 0 -5px;
		padding-bottom: 11px;
	}
	.exposition-img__item{
		padding: 0 5px;
	}
	.exposition-name{
		font-size: 16px;
		line-height: 22px;
	}
	.faq{
		padding-top: 15px;
		padding-bottom: 64px;
	}
	.list-faq__link{
		font-size: 24px;
		line-height: 35px;
		padding: 19px 28px 19px 0;
	}
	.list-faq__link i{
		font-size: 27px;
		margin-top: 0;
		top: 24px;
	}
	.list-faq__answer{
		top: -8px;
		padding-bottom: 32px;
	}
	.list-faq{
		margin-bottom: 39px;
	}
	.box-faq .btn{
		position: relative;
		top: auto;
		right: auto;
		max-width: 210px;
		margin: 0 auto;
		text-align: center;
	}
	.contacts{
		padding-top: 155px;
		padding-bottom: 110px;
	}
	.contacts-row{
		display: block;
		margin: 0;
	}
	.contacts-col{
		padding: 0;
		width: auto;
	}
	.exposition-inf__title-row{
		margin-bottom: 80px;
	}
	.exposition-inf__title-row .btn{
		position: relative;
		right: auto;
		top: auto;
		max-width: 140px;
		margin: 0 auto;		
		margin-top: 25px;
	}
	.faq h2{
		margin-bottom: 33px;
	}
	h3{
		font-size: 24px;
		line-height: 32px;
	}
	.contacts h2{
		margin-bottom: 0;
	}
	.contacts address{
		font-size: 20px;
		line-height: 28px;
	}
	.contacts-col h3{
		margin-bottom: 3px;
	}
	.phone-list a{
		font-size: 20px;
		line-height: 28px;
	}
	.mail-link{
		font-size: 20px;
		line-height: 28px;
	}
	.phone-list {
	    margin-top: 30px;
	    margin-bottom: 28px;
	}
	.contacts-col_1{
		margin-bottom: 83px;
	}
	.contacts-col_2 h3{
		margin-bottom: 26px;
	}
	.box-field{
		margin-bottom: 42px;
	}
	textarea.form-control{
		min-height: 72px;
		display: block;
	}
	.box-field_btn{
		margin-top: -3px;
		justify-content: center;
	}
	.box-field__label{
		font-size: 20px;
		line-height: 28px;
		bottom: 6px;
	}
	.form-control{
		font-size: 20px;
		line-height: 28px;
	}
	button.btn-green:before{
		width: 55px;
		height: 41px;
	}
	.popup-speaker{
		display: block;
		margin-bottom: 25px;
	}
	.popup-speaker__img{
		margin: 0 auto 45px;
		width: 100%;
	}
	.popup-speaker__text{
		width: 100%;
		padding: 0;
	}
	.popup-speaker__text p{
		padding: 8px 0;
	}
	.popup-event__item.program-item__info{
		flex-direction: column-reverse;
	}
	.popup-event__item{
		padding: 20px 0;
		position: relative;
		padding-bottom: 90px;
		.btn-green{
			position: absolute;
			bottom: 25px;
			left: 50%;
			transform: translateX(-50%);
			
		}
	}
	.popup-event__item .program-item__text{
		width: 100%;
	}
	.popup-close{
		width: 35px;
		height: 35px;
	}
	.exposition-inf__title-row h2{
		margin-bottom: 0;
	}
	.main-slider__theme h3 {
		margin-bottom: 5px;
	}
	.main-slider__theme .program-item__place {
		margin-bottom: 20px;
	}
	.main-slider__speaker {
		margin-top: 0;
		padding-top: 0;
		&-name {
			font-size: 35px;
			line-height: 35px;
		}
		&-subname {
			font-size: 21px;
			margin: 22px 0;
			margin-bottom: 0px;
		}
		&-content {
			flex-direction: column-reverse;
		}
		&-img {
			max-width: 130px;
			margin: auto;
			display: none;
		}
		p {
			font-size: 18px;
			padding-top: 9px;
		}
		&-info {
			// margin-top: 20px;
			margin-top: 0;
		}
		.event-inf {
			margin-top: 5px;
		}
		.program-item__place {
			margin-bottom: 20px;
			margin-top: 19px;
		}
	}
	.popup-speaker__main {
		.btn {
			margin-left: auto;
		}
	}
	.main-slider__speaker-btns {
		flex-direction: column;
		a {
			margin-bottom: 25px;
		}
	}

	.speakers-list__all-link {
		padding: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: 25px;
	}

	.fixed_btn, .open-btn-fixed {
		bottom: 8%;
		right: 3.3%;
	}
	
	.main-slider__item .main-slider__svg .slide-piece2 {
		position: absolute;
		right: 46%;
		bottom: -16px;
		width: 160px;
		z-index: 1;
	}
	.main-slider__item .main-slider__svg .slide-piece1 {
		max-width: 160px;
		right: -116px;
    	bottom: -2%;
	}
	.main-slider__item .main-slider__svg .slide-piece3 {
		max-width: 160px;
		right: -113px;
		top: auto;
		bottom: 11.5%;
	}
	.main-slider__speaker-name {
		max-width: 200px;
	}
	.main-slider__speaker-subname {
		font-size: 18px;
		margin: 15px 0;
		margin-bottom: 0px;
		max-width: 314px;
	}
	.main-slider__speaker p {
		font-size: 16px;
		padding-top: 5px;
		max-width: 85%;
	}
	.main-slider__speaker-info {
		.event-inf li {
			font-size: 18px;
			line-height: 27px;
			max-width: 160px;
		}
		.program-item__place {
			font-size: 18px;
		}
	}
	.main-slider__speaker-info .btn {
		max-width: fit-content;
	}
	.main-slider__item .main-slider__svg .slide-man {
		width: 440px;
		right: 0px;
	}

	.main-bann__content {
		flex-direction: column;
	}
	.main-bann__info {
		width: 100%;
	}
	.main-bann__steps {
		width: 100%;
	}
	.main-slider__video {
		margin-top: 10%;
		// height: 265px;
		height: 300px;
		width: 96%;
	}
	.main-slider__video__overlay-icon {
		width: 100px;
		height: 100px;
	}	
	.main-video-wrap {
		padding-top: 19px;
		.main-slider__cont {
			z-index: 3;
		}
	}
	
}

@media screen and (max-width: 530px) {
	#error-popup .error-popup__content span {
		display: block;
	}
	#success-popup .success-popup__content, #success-popup .error-popup__content, #error-popup .success-popup__content, #error-popup .error-popup__content {
		font-size: 24px;
	}
	#error-popup .error-popup__content span:before {
		height: 6px;
	}
}

@media screen and (max-width: 480px) {
	h1, .h1{
		font-size: 48px;
		line-height: 48px;
	}
	.main-screen:after{
		background-size: 157% auto;
		right: -25px;
	}
	.contacts{
		background-size: 156% auto;
	}
	.window-open{
		padding: 70px 16px 50px;
	}
	.main-slider__item {
		max-height: 692px;
	}
	
}

@media screen and (max-width: 322px) {
	.main-slider__item {
		max-height: 692px;
		min-height: 650px;
	}
}

@media screen and (min-width: 1600px) {
	.main-screen:after {
		// background-position: 2px 50px;
	}
	.contacts {
		background-position: 230px -7px;
		background-size: 92%;
		padding: 320px 0 150px;
	}
	.faq {
		padding: 115px 0 40px;
	}
	.main-slider__item {
		padding-bottom: 290px;
	}
}

@media screen and (min-width: 1100px) and (max-height: 755px) {
	.main-screen:after {
		// width: 90%;
	}
	.main-slider__speaker-imgs .slide3-piece2 {
		width: 14%;
		// bottom: 6%;
		bottom: 0%;
	}
	.main-slider__speaker-imgs .slide3-man {
		// bottom: 6%;
		width: 39%;
		bottom: 0%;
	}
	.main-slider__speaker-imgs .slide3-piece1 {
		position: absolute;
		right: 23%;
		// bottom: 6%;
		width: 16%;
		bottom: 0%;
	}
	.main-slider__speaker-imgs .slide3-piece3 {
		width: 14%;
		top: auto;
    	bottom: 27%;
	}
}

@media screen and (min-width: 1100px) and (max-height: 750px) {
	.main-slider__item {
		padding-top: 190px;
		padding-bottom: 0;
	}
	.main-slider {
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.main-screen:after {
		// width: 73%;
	}
	.main-slider__cont {
		h1 {
			font-size: 80px;
			line-height: 75px;
			margin-top: 5px;
			padding-bottom: 0;
		}
	}
	.main-slider__theme h3 {
		margin-bottom: 20px;
	}
	.main-slider__speaker .event-inf {
		margin-top: 0px;
	}
	.main-slider__speaker .program-item__place {
		margin-bottom: 18px;
	}
	.main-slider__speaker-name {
		margin-top: 15px;
	}
	.main-screen:after {
		bottom: -23%;
		width: 75%;
	}
	.main-slider .slick-arrow {
		top: 180px;
	}
	.main-slider__item svg, .main-slider__svg {
		bottom: auto;
		top: -15%;
		width: 100%;
	}
	.main-slider__item .main-slider__svg {
		.slide-man {
			position: absolute;
			right: 5vw;
			bottom: -12%;
			width: 62%;
			z-index: 9;
		}
		.slide-piece1 {
			position: absolute;
			right: 0%;
			bottom: -5%;
			width: 22%;
			z-index: 99;
			top: auto;
		}
		.slide-piece2 {
			position: absolute;
			right: 36%;
			bottom: -3%;
			width: 25%;
			z-index: 1;
			top: auto;
		}
		.slide-piece3 {
			position: absolute;
			right: -1vw;
			top: auto;
			bottom: 24%;
			width: 22%;
			z-index: 1;
		}
	}

}

@media screen and (min-width: 1100px) and (max-height: 640px) {
.main-slider__item .main-slider__svg {
		.slide-man {
			position: absolute;
			right: 5vw;
			bottom: -12%;
			width: 52%;
			z-index: 9;
		}
		.slide-piece1 {
			position: absolute;
			right: 0%;
			bottom: -25%;
			width: 22%;
			z-index: 99;
			top: auto;
		}
		.slide-piece2 {
			position: absolute;
			right: 36%;
			bottom: -25%;
			width: 25%;
			z-index: 1;
			top: auto;
		}
		.slide-piece3 {
			position: absolute;
			right: -1vw;
			top: auto;
			bottom: 8%;
			width: 22%;
			z-index: 1;
		}
	}
}

@media screen and (min-width: 1100px) and (max-height: 600px) {
	.main-slider__item {
		padding-top: 160px;
		padding-bottom: 0;
	}
	.main-slider {
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.main-slider__theme h3 {
		margin-bottom: 0px;
		font-size: 31px;
	}
	.main-slider__theme .program-item__place {
		margin-bottom: 20px;
	}
	.main-slider__theme {
		margin-top: 10px;
	}
	.main-slider__speaker-name {
		font-size: 50px;
		padding-top: 40px;
	}
	.main-slider__speaker-subname {
		margin: 10px 0;
	}
	.main-slider__speaker p {
		font-size: 18px;
		padding: 0;
	}
	.main-slider__speaker .event-inf {
		margin-top: 15px;
		margin-bottom: -25px;
	}
	.main-slider__speaker .program-item__place {
		margin-bottom: 15px;
		margin-top: 32px;
	}
	.main-slider__speaker-img {
		bottom: -11%;
		right: 5%;
		width: 52%;
	}
	.main-slider__cont {
		h1 {
			font-size: 63px;
			line-height: 63px;
			margin-top: 5px;
			padding-bottom: 0;
		}
	}
	.main-slider__place {
		margin: 0;
		margin-top: 15px;
	}
	.main-screen:after {
		// width: 65%;
	}
	.main-slider__speaker-info {
		margin-top: 60px;
	}

	.main-screen:after {
		bottom: -23%;
		width: 100%;
		background-size: contain;
	}

	.main-slider .slick-arrow {
		top: 165px;
	}
	
}

@media screen and (min-width: 1100px) and (max-height: 580px) {
	.main-screen:after {
		// width: 57%;
	}
}

@media screen and (min-width: 1200px) and (max-width: 1600px) and (min-height: 900px) {
	.main-screen:after {
		// background-position: right 165px;
		background-size: auto;
	}
    
}
@media screen and (min-width: 1200px) and (max-width: 1300px) and (min-height: 1020px) {
	.main-screen:after {
		// background-size: 120% auto;
		// background-position: 50px 222px;
	}
    .main-slider__speaker-imgs .slide3-piece3 {
		top: auto;
		bottom: 37%;
	}
	.main-slider__speaker-imgs {
		bottom: 1%;
	}
	.main-slider__speaker-imgs .slide3-piece3 {
		width: 22.5%;
		bottom: 36%;
	}
	.main-slider__speaker-imgs .slide3-man {
		width: 70%;
		
	}

	.main-slider__item svg, .main-slider__svg {
		right: -1%;
	}
	.main-slider__item .main-slider__svg .slide-man {
		width: 85%;
	}
	
}
@media screen and (min-width: 1200px) and (max-width: 1600px) and (max-height: 800px) {
	.main-screen:after {
		// background-position: -1px 33px;
	}
    
}

@media screen and (max-width: 1100px) and (min-height: 700px) and (max-height: 800px) {
	.main-slider__speaker-imgs .slide3-man {
		bottom: 23%;
		width: 72%;
	}
	.main-slider__speaker-imgs .slide3-piece3 {
		bottom: 35%;
	}
}

@media screen and (max-width: 1100px) and (min-height: 1200px) {
	.main-slider__speaker-imgs .slide3-piece3 {
		bottom: 29%;
	}
	.main-slider__speaker-imgs {
		bottom: -12%;
	}
}

@media screen and (max-width: 550px) {
	.main-slider__item .main-slider__svg .slide-man {
		width: 440px;
		right: -97px;
	}
}
