.exhibition-screen {
    padding-top: 300px;
    padding-bottom: 12px;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: 8px solid #F39A7C;
        padding-bottom: 52px;
    }
    &__text {
        span {
            font-size: 24px;
            line-height: 140%;
            color: #383838;
            display: block;
            margin-bottom: 50px;
        }
    }
}

.exhibition-stands {
    h3 {
        letter-spacing: .02em;
    }
    &__items {
        margin-top: 33px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 60px;
        border-bottom: 8px solid #F39A7C;
        padding-right: 3.4%;
        ul {
            margin-top: 7px;
            width: calc(25% - 30px);
            li {
                max-width: 340px;
                margin-bottom: 12px;
                a {
                    font-size: 16px;
                    line-height: 20px;
                    color: #383838;
                    &:hover {
                        color: #669F42;
                    }
                }
            }
            &:first-of-type {
                margin-top: 0;
            }
        }
    }
}

.exhibition-block {
    h3 {
        letter-spacing: .02em;
        line-height: 45px;
    }
    &__content {
        border-bottom: 8px solid #F39A7C;
        padding-top: 85px;
        padding-bottom: 105px;
    }
    .exposition-img__item {
       display: flex;
       justify-content: space-between;
    }
    &__text {
        margin-bottom: 85px;
        max-width: 600px;
    }
}

.exhibition-page {
    .header-top_2 {
        margin-top: 200px;
    }
}




@media screen and (max-width: 1200px) {
    .exhibition-screen {
        padding-top: 200px;
        padding-bottom: 110px;
    } 
    .exhibition-stands__items ul li {
        max-width: 265px;
    }
    .exposition-img__item img {
        display: block;
        max-width: 49%;
    }
}

@media screen and (max-width: 930px) {
    .exhibition-stands__items ul li {
        max-width: 200px;
    }
    .exhibition-screen__text {
        max-width: 390px;
    }
}

@media screen and (max-width: 767px) {
    .exhibition-screen {
        padding-top: 125px;
        padding-bottom: 40px;
        h1, .h1 {
            font-size: 44px;
            line-height: 48px;
        }
    }
    .exhibition-screen__content {
        flex-direction: column;
    }
    .exhibition-stands__items ul li {
        max-width: 100%;
    }
    .exhibition-stands__items {
        flex-direction: column;
    }
    .exhibition-stands__items ul {
        margin-top: 0;
        width: 100%;
    }
    .exhibition-stands__items {
        margin-top: 0;
        padding-bottom: 30px;

    }
    .exhibition-screen__content {
        padding-bottom: 30px;
    }
    .exhibition-block__content {
        padding-top: 25px;
        padding-bottom: 40px;
    }
    .exhibition-block__text {
        margin-bottom: 40px;
    }
    .exhibition-page .header-top_2 {
        margin-top: 40px;
    }
    .exposition-img__item {
        flex-direction: column;
    }
    .exposition-img__item img {
        max-width: 100%;
        margin-bottom: 10px;
    }
}