
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	background:#95C13D ; 
	text-align:left;
	width:100%;
	min-width: $min-width;
	order: 3;	
    -webkit-order: 3;	
    .wrapper{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		&:after{
			display: none;
		}
	}
	.btn-green span{
		background-color: #669F42;
	}
	.btn-green:before{
		background-color: #D0E09B;
		z-index: 1;
	}
}
.footer-top{
	background: #95C13D ; 
	padding: 80px 0 70px;
	.btn-green{
		margin-right: 10px;
	}
}
.footer-bottom{
	background-color: #fff;
	padding: 30px 0;
	.wrapper{
		align-items: center;
	}

	
}
.logo_footer{
	width: 100%;
	max-width: 190px;
}
.copyright{
	font-size: 16px;
	line-height: 24px;
	color: #669F42;
}

.footer-nav{
	// column-count: 2;
	margin: -12px auto 0 97px;
	flex: 1;
	max-width: 581px;
	flex-wrap: wrap;
    display: flex;
	&__item{
		margin-bottom:1px;
		width: 50%;
	}
	&__link{
		font-weight: normal;
		font-size: 16px;
		line-height: 34px;
		color: #EAF5E1;
		display: inline-block;
		height: 41px;
		padding: 9px 14px 0;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		z-index: 1;
		letter-spacing: 0.15px;
		&:hover{
			&:before{
				opacity: 1;
				transform: skew(2deg,-5deg);
				background: #D0E09B;
			}
			color: #95C13D;
		}
		&:active {
			&:before{
				background: #669F42;
			}
			color: #EAF5E1;
		}
		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 4px;
			width: 100%;
			height: 100%;
			background-color: #669F42;
			z-index: -1;
			transform: skewY(0deg);
			transition: all 0.3s;
			opacity: 0;
		}
		
	}
}


@media screen and (max-width: 1200px) {
	.footer-nav{
		margin-left: 55px;
	}
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 1023px) {
	.footer-nav{
		margin-left: 10px;
	}
	.logo_footer{
		max-width: 140px;
	}
	.footer-nav__link{
		padding: 9px 5px 0;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	.footer-top{
		padding: 40px 0 31px;
	}
	.footer-top .btn-green{
		position: absolute;
		right: 16px;
		top: 0;
	}
	.footer-top .wrapper{
		flex-direction: column;
	}
	.footer-bottom{
		padding: 22px 0;
	}
	.copyright{
		display: block;
		margin-bottom: 18px;
	}
	.footer-bottom .wrapper{
		flex-direction: column;
	}
	.logo_footer{
		max-width: 100px;
	}
	.footer-nav{
		margin-left: -5px;
		margin-top: 45px;
	}
}

@media screen and (max-width: 480px) {
	.footer-nav{
		// column-count: 1;
	}
	.logo_footer{
		max-width: 80px;
	}
	.footer-nav__item {
		width: 100%;
	}
}