.gallery {
    margin-top: 301px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    &-content {
        margin-top: 68px;
    }
    &-main-img {
        width: 100%;
        max-width: 1180px;
        height: 700px;
        overflow: hidden;
        margin-bottom: 19px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &-imgs {
        margin: 0 -10px;
        margin-top: 10px;
        max-width: 1000px;
        display: flex!important;
        justify-content: space-between;
    }
    &-imgs-item {
        width: 126px;
        height: 153px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        margin: 0 10px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            content: '';
            border: 10px solid #D0E09B;
            opacity: 0;
            transition: .3s linear;
        } 
        &.slick-current:after {
            opacity: 1;
        } 
    }
}

.gallery-imgs__slider-wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.gallery-imgs__nav {
    width: 180px;
    height: 153px;
    background: #669F42;
    font-size: 18px;
    color: #fff;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.gallery__slider-arrow {
    width: 45px;
    height: 45px;
    content: '';
    background-image: url(../img/icons/gallery-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin: 0 15px;
    transition: .3s linear;
    &:hover {
        opacity: .7;
    }
    &.arrowRight {
        transform: rotate(-180deg);
    }
}

.gallery-imgs__nav-info {
    margin-top: 14px;
}

@media screen and (max-width: 1240px) { 
    .gallery-imgs {
        width: calc(100% - 180px);
    }
}

@media screen and (max-width: 1200px) { 
    .gallery {
        margin-top: 200px;
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 1080px) { 
    .gallery-main-img,
    .gallery-imgs-item {
        height: auto;
    }
    .gallery-imgs {
        margin-left: -11px;
        margin-right: -11px;
    }
    .gallery-imgs {
        width: auto;
    }
    .gallery-imgs__slider-wrap {
        flex-direction: column-reverse;
    }
    .gallery-imgs__nav {
        width: 100%;
        max-width: 370px;
        margin: 20px auto 0;
    }
}

@media screen and (max-width: 991px) { 
    .gallery-imgs__nav {
        margin-top: 35px;
    }
}

@media screen and (max-width: 767px) { 
    .gallery {
        margin-top: 115px;
        margin-bottom: 50px;
    }
    .gallery-content {
        margin-top: 30px;
    }
    .gallery-imgs-item {
        margin: 0 5px;
    }
    .gallery-imgs {
        margin-left: -6px;
        margin-right: -6px;
        margin-top: 0;
    }
    .gallery-imgs-item:after {
        border: 5px solid #D0E09B;
    }
    .gallery-imgs__nav {
        margin-top: 20px;
        font-size: 15px;
        height: 85px;
    }
    .gallery__slider-arrow {
        width: 30px;
        height: 30px;
    }
}
