
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	width:100%;
	min-width: $min-width;
	text-align:left;	
	order: 1;	
    -webkit-order: 1;
    padding: 0px 0 20px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    .wrapper{
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
    	&:after{
    		display: none;
    	}
    }
}

.header-top {
	margin-bottom: 45px;
	padding: 9px 0 6px;
	position: relative;
}
.header-top__wrap{
	background-color: #F39A7C;
	font-weight: 800;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	color: #B42025;
	white-space: nowrap;
	padding: 9px 0 6px;
	animation: ticker 100s linear infinite;
	min-width: 100%;
	position: absolute;
	top: 0;
	span{
		display: inline-block;
		padding: 0 9px 0 9px;
		&:first-child{
			margin-left: -19px;
		}
	}
}
.header-top_2{
	span{
		display: inline-block;
		padding: 0 21px 0 20px;
		&:first-child{
			margin-left: -29px;
		}
	}
}

@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translateZ(0) rotate(.001deg);
        transform: translateZ(0) rotate(.001deg)
    }

    to {
        -webkit-transform: translateX(-50%) translateZ(0) rotate(.001deg);
        transform: translateX(-50%) translateZ(0) rotate(.001deg)
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translateZ(0) rotate(.001deg);
        transform: translateZ(0) rotate(.001deg)
    }

    to {
        -webkit-transform: translateX(-50%) translateZ(0) rotate(.001deg);
        transform: translateX(-50%) translateZ(0) rotate(.001deg)
    }
}



.logo{
	display: block;
	position: relative;
	z-index: 3;
	img{
		display: block;
		max-width: 150px;
		width: 100%;
	}
}
.main-nav{
	display: flex;
	align-items: center;
	flex: 1;
	justify-content: space-between;
	padding-top: 6px;
}
.main-nav-list{
	display: flex;
	margin: 0 25px 0 auto;
	flex-wrap: wrap;
    justify-content: flex-end;
	max-width: 625px;
	margin-top: 8px;
	margin-right: 36px;
	&__item{
		margin-left: 27px;
		// &:last-child{
		// 	margin-right: 0;
		// }
		// &:nth-child(4){
		// 	margin-right: 0;
		// }
	}
	&__link{
		font-size: 16px;
		line-height: 24px;
		color: #383838;
		display: block;
		height: 41px;
		padding: 9px 5px 0;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
		z-index: 1;
		letter-spacing: 0.15px;
		&:hover{
			&:before{
				opacity: 1;
				transform: skew(2deg,-5deg);
			}
		}
		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: #D0E09B;
			z-index: -1;
			transform: skewY(0deg);
			transition: all 0.3s;
			opacity: 0;
		}
		&:active {
			&:before{
				background: #95C13D;
			}
		}
	}
}
.btn-green{
	display: block;
	position: relative;
	span{		
		background: #95C13D;
		height: 59px;
		padding: 15px 30px 0;
		display: block;
		font-weight: 800;
		font-size: 18px;
		line-height: 27px;
		letter-spacing: 0.5px;
		color: #FFFFFF;
		position: relative;
		z-index: 1;
		transition:all 0.3s;
	}
	&:before{
		content: '';
		position: absolute;
		right: -10px;
		bottom: -10px;
		width: 55px;
		height: 41px;
		z-index: -2;
		background: #669F42;
		display: block;
		transition: all 0.3s;
	}
	&:hover{
		span{
			background: #95C13D;
		}
		&:before{
			background: #669F42;
			width: 40px;
			height: 30px;
		}
	}
	&:active{
		&:before{
			width: 40px;
			height: 30px;
		}
	}
}
.button-nav{
	display: none;
	width: 26px;
	height: 24px;
	position: relative;
	span{
		display: block;
	    margin: 4px auto 4px auto;
	    width: 24px;
	    background-color: #E21E26;
	    height: 4px;
	    transition: 0.3s ease;
	}
	&.active{
		span{
			&:first-child{
				transform: rotate(-45deg);
			    position: absolute;
			    margin: 0 0 0 0;
			    width: 28px;
				// left: 1px;
				left: -2px;
				// top: 16px;
				top: 10px;
			}
			&:nth-child(2){
				background-color: transparent;
			}
			&:nth-child(3){
				transform: rotate(45deg);
				position: absolute;
				// right: -3px;
				right: 0;
				width: 28px;
				// top: 16px;
				top: 10px;
				margin: 0 0 0 0;
			}
		}
	}
}

.box-lang {
	margin-left: 47px;
	position: relative;
	&:after {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		top: 48%;
		content: '';
		background: #669F42;
		width: 6px;
		height: 6px;
		border-radius: 50%;
	}
	.list-lang {
		margin-top: 5px;
		&__link {
			font-weight: 800;
			font-size: 18px;
			line-height: 27px;
			letter-spacing: 0.02em;
			text-transform: uppercase;
			color: #D0E09B;
			transition: .2s linear;
		}
		&__item {
			&.active {
				.list-lang__link {
					color: #669F42;
				}
			}
			&:first-of-type {
				margin-bottom: 19px;
			}
		}
	}
}


@media screen and (max-width: 1200px) {
	.main-nav-list__item{
		margin-right: 5px;
		&:last-child{
			margin-right: 0;
		}
	}
	.main-nav-list{
		margin-right: 15px;
	}
	.main-nav-list__link{
		font-size: 15px;
	}
	.main-nav-list__link{
		padding: 9px 3px 0;
	}
}

@media screen and (max-width: 1100px) {
	.logo{
		max-width: 130px;
	}
	
	.box-lang {
		margin-left: 25px;
	}
}

@media screen and (min-width: 1024px){
	
}

@media screen and (max-width: 1023px) {
	.header-top{
		font-size: 16px;
		line-height: 24px;
	}
	
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.main-nav-list__link{
		padding: 9px 4px 0;
    	// font-size: 12px;
	}
	.logo{
		max-width: 120px;
	}
	header .btn-green span{
		padding: 8px 15px 0;
		height: 39px;
		font-size: 14px;
		line-height: 22px;
	}
	header .btn-green:before{
		width: 40px;
		height: 30px;
	}
	.main-nav-list__item{
		margin-right: 0;
	}
	.main-nav-list__item {
		margin-left: 10px;
	}
}

@media screen and (max-width: 767px) {
	.main-nav{
		position: fixed;
		left: 100%;
		top: 0;
		top: 45px;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #fff;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-image: url('../img/mob-nav-bg.png');
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 100% auto;
		padding-bottom: 5px;
		transition: all 0.3s;
		&.show-nav{
			left: 0;
		}
		.btn-green{
			display: inline-block;
		}
	}
	.no-scroll{
		overflow: hidden;
	}
	.main-nav-list{
		display: block;
		margin-right: 0;
		margin: 0;		
		margin-bottom: 33px;
		text-align: center;
	}
	.main-nav-list__link{
		font-size: 16px;
		line-height: 25px;
		height: 30px;
	}
	.main-nav-list__item{
		margin-right: 0;
		margin-bottom: 2px;
		margin-left: 0;
	}
	.button-nav{
		display: block;
		margin-top: -4px;
	}
	.header-top span:first-child{
		margin-left: -15px;
	}
	.header-top span{
		padding:  0 7px;
	}
	.header-top{
		font-size: 14px;
		line-height: 20px;
		padding: 5px 0 4px;
	}
	.logo{
		max-width: 100px;
	}
	header .wrapper{
		align-items: flex-start;
	}

	.box-lang {
		margin-left: 0;
		margin-top: 39px;
		.list-lang {
			&__item {
				display: inline-block;
				margin: 0 10px;
				&.active {
					.list-lang__link {
						color: #669F42;
					}
				}
			}
		}
		.box-lang .list-lang__item:first-of-type {
			margin-bottom: 0;
		}
		&:after {
			top: 14px;
		}
	}
}

@media screen and (max-width: 767px) {
	.logo{
		max-width: 80px;
	}
}