.program-page {
    .program-main {
        padding-top: 300px;
        position: relative;
    }
    .program-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 113px;
        h1 {
            width: 50%;
        }
        p {
            max-width: 580px;
            margin-top: 15px;
            padding-right: 15px;
        }
    }
    .program-filters {
        &__items {
            max-width: 88%;
        }
        &__row  {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            align-items: center;
            ul {
                display: flex;
                flex-wrap: wrap;
                li {
                    display: inline-block;
                    font-size: 18px;
                    line-height: 27px;
                    letter-spacing: 0.02em;
                    text-align: center;
                    color: #FFFFFF;
                    opacity: .5;
                    padding: 16px 30px;
                    padding-top: 18px;
                    padding-bottom: 15px;
                    margin-right: 2px;
                    margin-bottom: 2px;
                    transition: .2s linear;
                    &.active {
                        opacity: 1;
                    }
                    
                }
            }
            .program-filters__theme {
                li {
                    display: none;
                    padding-top: 17px;
                    padding-bottom: 12px;
                }
            }
            &:last-of-type {
                li {
                    letter-spacing: 0.01em;
                }
                li:first-of-type {
                    letter-spacing: normal;
                }
            }
        }
        &__filter {
            li {
                background: #95C13D;
                &:active {
                    background: #669F42;
                }
            }
        }
        &__theme, &__type {
            li {
                background: #F39A7C;
                border: 2px solid #F39A7C;
                &:active {
                    background: #E36338;
                }
                
            }
        }
        &__refresh, &__more {
            position: relative;
            font-size: 16px;
            line-height: 24px;
            color: #383838;
            margin-right: 24px;
            margin-top: 3px;
            transition: .2s linear;
            
            .program-filters__icon {
                content: '';
                position: absolute;
                right: -17px;
                top: 3px;
                width: 17px;
                height: 17px;
                &:before, &:after {
                    position: absolute;
                    left: 15px;
                    content: ' ';
                    height: 17px;
                    width: 2px;
                    background-color: #95C13D;
                }
                &:before {
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }
            }
            &:hover {
                color: #95C13D;
            }
            &:active {
                color: #669F42;
                .program-filters__icon {
                    &:before, &:after {
                        background-color: #669F42;
                    }
                }
            }
        }
        &__more {
            width: 70px;
            margin-top: 0;
            margin-right: 26px;
            .program-filters__icon {
                &:before, &:after {
                    position: absolute;
                    left: 15px;
                    content: ' ';
                    height: 17px;
                    width: 2px;
                    background-color: #F39A7C;
                }
                &:before {
                    transform: rotate(90deg);
                }
                &:after {
                    transform: rotate(180deg);
                }
            }
            &:hover {
                color: #F39A7C;
            }
            &:active {
                color: #E36338;
                .program-filters__icon {
                    &:before, &:after {
                        background-color: #E36338;
                    }
                }
            }
        }
    }
    .program-download {
        margin-top: 18px;
        display: block;
        text-align: center;
        width: 100%;
        background: #669F42;
        font-weight: 800;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-top: 18px;
        padding-bottom: 15px;
        transition: .2s linear;
        &:hover {
            background: #95C13D;
        }
    }
}

// program items

.program-items {
    padding-bottom: 200px;
    margin-top: 40px;
}

.program-item {
    width: 100%;
    border-bottom: 8px solid #F39A7C;
    // padding-bottom: 92px;
    padding-bottom: 35px;
    position: relative;
    padding-top: 100px;
    transform: none!important;
    &:after {
        clear: both;
        display: block;
        content: '';
        height: 0;
    }
    &__info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 45px;
    }
    &__time {
        .event-inf {
            margin-bottom: 0;
        }
        width: 28%;
        .btn {
            max-width: 225px;
            text-align: center;
            span {
                padding: 15px 25px 0;
            }
        }
    }
    &__place {
        font-weight: 800;
        font-size: 24px;
        line-height: 35px;
        letter-spacing: 0.02em;
        color: #669F42;
        display: block;
        margin-top: 20px;
        margin-bottom: 49px;
    }
    &__text {
        max-width: 879px;
        width: 82%;
        p {
            font-size: 18px;
            line-height: 140%;
            color: #383838;
        }
    }
    &__title {
        font-weight: 800;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #383838;
        display: block;
        margin-bottom: 19px;
    }
    &__titlespec {
        max-width: 425px;
        width: 100%;
        background: #E21E26;
        height: 40px;
        font-size: 24px;
        color: #FFFFFF;
        padding: 10px 20px;
        display: block;
        margin-bottom: 20px;
        margin-top: -10px;
        text-align: center;
    }
    &__speakers {
        float: right;
        max-width: 880px;
        width: 100%;
        // border-top: 2px solid #669F42;
        margin-top: 12px;
        display: none;
        &-title {
            font-weight: 800;
            font-size: 36px;
            line-height: 53px;
            color: #383838;
            margin-top: 15px;
            display: block;
            margin-bottom: 36px;
        }
        &-items {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-wrap: wrap;
        }
    }
    &__speaker {
        display: flex;
        justify-content: space-between;
        max-width: 380px;
        margin-bottom: 55px;
        &-img {
            width: 104px;
            height: 130px;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 2;
            }
        }
        &-info {
            max-width: 217px;
            margin-left: 55px;
            span {
                font-weight: 800;
                font-size: 24px;
                line-height: 140%;
                color: #383838;
                margin-bottom: 10px;
                display: block;
                max-width: 70%;
            }
            p {
                font-size: 18px;
                line-height: 140%;
                color: #383838;
                padding: 0;
            }
        }
        &:hover {
            .program-item__speaker-info {
                span {
                    color: #95C13D;
                }
            }
            .speakers-list__img-bg_1 {
				transform: rotate(-7deg);
				left: -12px;
			}
			.speakers-list__img-bg_2 {
				transform: rotate(4.1deg);
				left: auto;
				top: -9px;
                right: -9px;
			}
        }
        &:active {
            .program-item__speaker-info {
                span {
                    color: #669F42;
                }
            }
            .speakers-list__img-bg_1,
			.speakers-list__img-bg_2 {
                transform: none;
                left: 0;
                top: 0;
			}
        }
    }
    &__show {
        position: absolute;
        bottom: 30px;
        right: 28px;
        font-size: 16px;
        line-height: 24px;
        color: #383838;
        transition: .2s linear;
        &:hover {
            color: #95C13D;
        }
        .program-item__icon {
            content: '';
            position: absolute;
            right: -20px;
            top: 3px;
            width: 17px;
            height: 17px;
            &:before, &:after {
                position: absolute;
                left: 15px;
                content: ' ';
                height: 17px;
                width: 2px;
                background-color: #95C13D;
            }
            &:before {
                transform: rotate(90deg);
            }
            &:after {
                transform: rotate(180deg);
            }
            
        }
        &:active {
            color: #669F42;
            .program-item__icon {
                &:before, &:after {
                    background-color: #669F42;
                }
            }
        }
        &.active {
            .program-item__icon {
                &:before {
                    transform: rotate(45deg);
                }
                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.box-field__input {
    position: relative;
    label.error {
        position: absolute;
        left: 0;
        font-size: 16px;
        line-height: 144%;
        letter-spacing: 0.02em;
        color: #E60028;
        bottom: -32px;
    }
}

.box-field__textarea {
    label.error {
        bottom: -28px;
    }
}

#video-popup {
    padding-top: 160px;
    padding-bottom: 113px;
    .popup-video {
        width: 100%;
        height: 500px;
        position: relative;
        width: 879px;
        max-width: 100%;
        iframe {
            width: 100%;
            height: 100%;
        }
        &__info {
            margin-top: 40px;
            max-width: 879px;
            span {
                font-weight: 800;
                font-size: 36px;
                line-height: 120%;
                color: #383838;
                letter-spacing: 0.02em;
                display: block;
                margin-bottom: 15px;
            }
            p {
                font-size: 18px;
                line-height: 140%;
                color: #383838;
            }
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            padding-top: 30px;
            border-top: 8px solid #F39A7C;
            margin-top: 25px;
        }
        &__author {
            max-width: 366px;
            span {
                display: block;
                font-weight: 800;
                font-size: 24px;
                line-height: 140%;
                display: block;
            }
            p {
                font-size: 18px;
                line-height: 140%;
                color: #383838;
            }
        }
        &__place {
            span {
                display: block;
                font-weight: 800;
                font-size: 24px;
                line-height: 35px;
                letter-spacing: 0.02em;
                color: #669F42;
            }
        }
        &__overlay {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($color: #000000, $alpha: .2);
            &-icon {
                width: 156px;
                height: 156px;
                border-radius: 50%;
                background: #95C13D;
                content: '';
                position: relative;
                display: flex;
                justify-content: center;
                text-align: center;
                img {
                    margin-left: 6px;
                }
                &:active {
                    background: #669F42;
                }
            }
        }
    }
}

.btn-live {
    margin-bottom: 50px;
    &:before {
        background: #95C13D;
    }
	span {
		background-color: #669F42;
	}
	&:hover {
        span {
            background-color: #669F42;
        }
        &:before {
            background: #95C13D;
        }
    }
}

#popup-video__iframe {
    height: 100%;
}


// media

@media screen and (max-width: 1200px) {
	.program-page .program-filters__items {
        max-width: 80%;
    }
    .program-item__text {
        width: 65%;
    }
    .program-page .program-main {
        padding-top: 200px;
    }
    .program-page .program-info {
        margin-bottom: 90px;
    }
}

@media screen and (min-width: 1025px){
    .program-page .program-filters__row ul li:hover {
        opacity: 1;
    }
}

@media screen and (max-width: 930px) {
    .program-page .program-filters__items {
        max-width: 78%;
    }
    .program-page .program-info p {
        max-width: 465px;
    }
    .program-item__time {
        width: 30%;
    }
    .program-item__speaker-info {
        margin-left: 26px;
    }
}

@media screen and (max-width: 767px) {
    .program-page .program-main {
		padding-top: 105px;
        padding-bottom: 0;
    }
    .program-page .program-info {
        flex-direction: column;
    }
    .program-page .program-info h1 {
        width: 100%;
    }
    .program-page .program-info p {
        margin-top: 0;
        padding-right: 0;
    }
    .program-page .program-info {
        margin-bottom: 30px;
    }
    .program-page .program-filters__row {
        flex-direction: column;
    }
    .program-filters__items {
        max-width: 100%;
        width: 100%;
    }
    .program-page .program-filters__row ul li {
        font-size: 15px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        word-break: break-word;
    }
    .program-page .program-filters__refresh, .program-page .program-filters__more {
        margin-top: 28px;
    }
    .program-page .program-download {
        font-size: 14px;
    }
    .program-items {
        margin-top: 0;
        padding-bottom: 50px;
    }
    .program-item {
        padding-top: 50px;
    }
    .program-item__info {
        flex-direction: column;
    }
    .program-item__time,
    .program-item__text {
        width: 100%;
    }
    .program-item__time {
        display: flex;
        flex-direction: column;
        .event-inf {
            order: 2;
            margin-bottom: 20px;
        }
        .btn {
            order: 3;
            margin-bottom: 20px;
        }
    }
    .program-item__place {
        order: 1;
        margin-top: 0;
        margin-bottom: 15px;
    }
    .program-item__title {
        font-size: 30px;
        line-height: 39px;
        margin-bottom: 0;
    }
    .program-item__time .btn {
        margin: auto;
        margin-bottom: 30px;
    }
    .program-item__speakers-title {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .program-item__speakers-items {
        flex-direction: column;
    }
    .program-item__speaker {
        margin-bottom: 15px;
    }
    .program-item__speaker-info {
        max-width: 57%;
        // margin-left: 10px;
        margin-left: 20px;
    }
    .program-item__speaker {
        // max-width: 460px;
        justify-content: flex-start;
        max-width: 100%;
        margin: auto;
        margin-bottom: 40px;
        width: 100%;
    }
    .program-page .program-filters__items {
        max-width: 100%;
    }
    .program-page .program-filters__row ul li {
        line-height: 18px;
    }
    #video-popup {
        padding: 70px 16px 50px;
        .popup-video__overlay-icon {
            width: 75px;
            height: 75px;
        }
        .popup-video {
            height: 230px;
        }
        .popup-video__info {
            margin-top: 25px;
            span {
                font-size: 24px;
                line-height: 30px;
            }
        }
        .popup-video__footer {
            margin-top: 0;
            padding-top: 15px;
            flex-direction: column;
        }
    }
    .program-item__titlespec {
        margin-top: 10px;
        font-size: 15px;
        line-height: 40px;
        padding-top: 0;
        padding-bottom: 0;
        max-width: 285px;
    }
}

