.reg-form__list {
    li {
        padding-left: 36px;
        margin-bottom: 13px;
        position: relative;
        font-size: 18px;
        line-height: 140%;
        color: #383838;
        &:before {
            content: '';
            left: 0;
            top: 10px;
            width: 20px;
            height: 4px;
            background: #669F42;
            position: absolute;
        }
    }
}

.race-form {
    max-width: 100%;
    h3 {
        text-align: center;
    }
    &__title {
        font-weight: 800;
        font-size: 26px;
        line-height: 38px;
        display: block;
        margin-bottom: 25px;
        margin-top: 10px;
        color: #383838;
    }
}

.reg-form__text {
    max-width: 580px;
}

.reg-form__info {
    display: flex;
    justify-content: space-between;
}

.reg-form__row {
    display: flex;
    justify-content: space-between;
    .box-field {
        width: calc(50% - 50px);
        max-width: 580px;
    }
    .box-field__label {
        span {
            color: #E60028;
        }
    }
}

.jq-file__browse {
    display: none;
}

.focused .jq-file__name {
    border: none;
}

.jq-selectbox__select,
.jq-file__name {
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 24px;
    padding: 0;
    color: #383838;
    height: 37px;
    box-shadow: none;
    &:hover {
        background-color: transparent;
    }
}
.jq-selectbox.focused .jq-selectbox__select {
    background-color: transparent;
}
.jq-selectbox__select-text {
    overflow: visible;
    line-height: 34px;
    color: #383838;
    font-family: 'Circe', sans-serif;
}
.jq-selectbox__dropdown {
    width: 100%;
    top: 39px!important;
    background-color: #fff;
    ul {
        background-color: #fff;
    }
}
.jq-selectbox__trigger-arrow {
    position: absolute;
    right: 14px;
    top: 14px;
    content: '';
    border: solid #383838;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.jq-selectbox__dropdown {
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0px 12px 24px rgba(21, 21, 21, 0.26);
    border: none;
    li {
        border-radius: 0; 
        height: 30px;
        transition: $default-transition;
        &:hover, &.selected {
            background: rgba($color:#95C13D, $alpha: .7);
            color: #151515;
        }
    }
}
.jq-selectbox.opened {
    .jq-selectbox__select {
        border-radius: 8px 8px 0px 0px;
    }
    .jq-selectbox__trigger-arrow {
        transform: rotate(225deg);
        top: 17px;
        border-color: #669F42;
    }
}

.jq-selectbox li {
    font-size: 24px;
    padding: 10px;
    color: #383838;
    height: auto;
    margin: 0;
    display: block;
}

.box-field__subtitle {
    position: absolute;
    left: 0;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #383838;
    // bottom: -32px;
    bottom: -11px;
    height: 0;
}

.box-field__input label.error {
    bottom: -11px;
    height: 0;
    line-height: 16px;
}

label.error + .box-field__subtitle {
    opacity: 0;
}

@media screen and (max-width: 767px) {
    .reg-form__row,
    .reg-form__info {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .reg-form__row .box-field {
        width: 100%;
        max-width: 100%;
    }
    
    .race-form__title {
        font-weight: 800;
        font-size: 22px;
        line-height: 25px;
    }
    .jq-selectbox__select,
    .jq-file__name,
    .jq-selectbox li {
        font-size: 20px;
        line-height: 28px;
    }
}

@media screen and (max-width: 480px) {
    .box-field__subtitle {
        bottom: -5px;
        font-size: 11px;
        letter-spacing: normal;
    }
    .box-field__input label.error, .box-field__subtitle {
        font-size: 11px;
        bottom: -5px;
    }
}

.box-field__radio {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 15px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:last-of-type {
        margin-bottom: 0;
    }
  }
  
  .box-field__radio input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: -2px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    transition: .3s linear;
  }
  
  .box-field__radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .box-field__radio input:checked ~ .checkmark {
    background-color: #669F42;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .box-field__radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  .box-field__radio .checkmark:after {
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-image: url(../img/checkmark.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }