.reg-screen {
    padding-top: 300px;
    padding-bottom: 210px;
    position: relative;
    &__content {
        display: flex;
        justify-content: space-between;
    }
}

.reg-form {
    max-width: 580px;
    margin-top: 29px;
    p {
        font-size: 18px;
        line-height: 140%;
        color: #383838;
    }
    &__help {
        font-size: 24px;
        line-height: 140%;
        color: #383838;
        display: block;
        margin-top: 26px;
        margin-bottom: 122px;
        a {
            display: inline;
            font-size: 24px;
            line-height: 140%;
            color: #383838;
            border-bottom: 2px solid #669F42;
            &:hover {
                color: #669F42;
            }
        }
    }
    h3 {
        margin-bottom: 26px;
    }
    .box-field_btn {
        margin-top: 71px;
    }
    button.btn-green:before {
        // width: 54px;
        // height: 42px;
    }
}

@media screen and (max-width: 1200px) {
    .reg-screen {
        padding-top: 200px;
        padding-bottom: 110px;
    }
    .reg-form {
        max-width: 465px;
    }
}

@media screen and (max-width: 930px) {
    .reg-screen__content {
        flex-direction: column;
    }
    .reg-form {
        max-width: 100%;
    }
    .reg-form__help {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 767px) {
    .reg-screen {
        padding-top: 125px;
        padding-bottom: 50px;
        
    }
    .reg-form {
        margin-top: 0;
    }
    .reg-form__help {
        font-size: 18px;
        margin-bottom: 35px;
        a {
            font-size: 18px;
        }
    }
    .reg-form .box-field_btn {
        margin-top: 42px;
    }
}