.speakers-screen {
    padding-top: 300px;
    padding-bottom: 210px;
    &__items {
        margin-top: 85px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: -70px;
        margin-right: -220px;
    }
    &__item {
        max-width: 280px;
        position: relative;
        display: block;
        margin: 0 70px;
        margin-bottom: 143px;
        // display: none;
        &-img {
            width: 100%;
            max-height: 350px;
            position: relative;
        }
		img {
            position: relative;
			z-index: 2;
			width: 100%;
        }
        &-info {
            span {
                font-weight: 800;
                font-size: 36px;
                line-height: 53px;
                letter-spacing: 0.02em;
                color: #383838;
                display: block;
                margin-top: 43px;
                margin-bottom: -3px;
            }
            p {
                font-size: 18px;
                line-height: 140%;
                color: #383838;
            }
        }
        &-img {
            &:active {
                .speakers-list__img-bg_1,
                .speakers-list__img-bg_2 {
                    transform: none;
                }
            }
            &:hover {
                .speakers-list__img-bg_1 {
                    transform: rotate(-7deg);
                    left: -20px;
                }
                .speakers-list__img-bg_2 {
                    transform: rotate(4.1deg);
                    left: auto;
                    top: -27px;
                    right: -22px;
                }
            }
        }
    }
    &__content {
        max-width: 1065px;
        .btn {
            max-width: 263px;
            display: block;
            margin: auto;
            margin-top: -14px;
            span {
                padding: 15px 25px 0;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .speakers-screen {
        padding-top: 200px;
        padding-bottom: 110px;
        &__items {
            justify-content: space-between;
            margin-left: 0;
            margin-right: 0;
        }
    }  
}

@media screen and (max-width: 930px) {
    .speakers-screen__item {
        margin: 0 25px;
        margin-bottom: 143px;
    }
}

@media screen and (max-width: 767px) {
    .speakers-screen {
        padding-top: 125px;
        padding-bottom: 50px;
    }
    .speakers-screen__item {
        margin: 0 auto;
        margin-bottom: 50px;
    }
}