
@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-Regular/Circe-Regular.eot');
	src: url('../fonts/Circe-Regular/Circe-Regular.woff') format('woff'),
		url('../fonts/Circe-Regular/Circe-Regular.ttf') format('truetype'),
		url('../fonts/Circe-Regular/Circe-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('../fonts/Circe-ExtraBold/Circe-ExtraBold.eot');
	src: url('../fonts/Circe-ExtraBold/Circe-ExtraBold.woff') format('woff'),
		url('../fonts/Circe-ExtraBold/Circe-ExtraBold.ttf') format('truetype'),
		url('../fonts/Circe-ExtraBold/Circe-ExtraBold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?1cf6lm');
  src:  url('../fonts/icomoon/icomoon.eot?1cf6lm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?1cf6lm') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?1cf6lm') format('woff'),
    url('../fonts/icomoon/icomoon.svg?1cf6lm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-about-icon1:before {
  content: "\e90c";
  color: #669f42;
}
.icon-about-icon2:before {
  content: "\e90d";
  color: #669f42;
}
.icon-about-icon3:before {
  // content: "\e90e";
  // color: #669f42;
  content: url(../img/icons/about-icon3.svg);
  padding-top: 9px;
  display: block;
}
.icon-about-icon4:before {
  content: "\e90f";
  color: #669f42;
}
.icon-about-icon5:before {
  content: "\e910";
  color: #669f42;
}
.icon-about-icon6:before {
  content: "\e911";
  color: #669f42;
}
.icon-mail:before {
  content: "\e90b";
  color: #669f42;
}
.icon-instagram:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-award:before {
  content: "\e902";
}
.icon-doctor:before {
  content: "\e903";
}
.icon-ins .path1:before {
  content: "\e905";
  color: rgb(0, 0, 0);
}
.icon-ins .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ins .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-surgery-room:before {
  content: "\e908";
}
.icon-vk:before {
  content: "\e909";
}
